.box-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem 2rem;
}

.box{
    display: flex;
    background-color: crimson;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.text{
    align-self: flex-end;
}

.box:nth-child(2){
    background-color: brown;
    order: 0;
    flex-shrink: -1;
}

.box:nth-child(3){
    background-color: palegoldenrod;
    order: 0;
}

.box:nth-child(8){
    background-color: palevioletred;
    order: 0;
}