html {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 5px;
}

.ems {
    font-size: 20px;
}

.rems {
    font-size: 20px;
}

.ems h1 {
    font-size: 2rem;
}

.box:hover {
    transform: scale(1.1);
    transition: 200ms;
    background-color: cornflowerblue;
}

.pseudo-test::first-letter{
    color: crimson;
    font-size: 4rem;
}

#special-title {
    color: brown;
    text-align: center;
    text-decoration: line-through;
}

#other-special-title {
    color: cornflowerblue;
}