.header__container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #282c34;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.header__container:hover {
    background-color: #1c2025;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.header__now-playing {
    font-size: 0.8rem;
    font-style: italic;
    color: #a9a9a9;
}

.header__song-detail {
    font-size: 1rem;
    color: #fff;
}

.header__now-playing-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-start;
}

.header__input-search {
    width: 40%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #bbb;
    padding: 0 15px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.header__input-search:focus {
    border-color: #888;
    outline: none;
}

.header__button {

    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}

.header__button:hover {
    background-color: #21a1f1;
    color: #fff;
}